<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link rel="manifest" href="manifest.json">

    <!-- un-comment this code to enable service worker
    <script>
      if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register('service-worker.js')
          .then(() => console.log('service worker installed'))
          .catch(err => console.log('Error', err));
      }
    </script>-->

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

        <!-- your app's js -->
    <script src="js/app.js"></script>

    <!-- cordova script (this will be a 404 during development, and this must be the last script according to the docs at http://ionicframework.com/docs/guide/starting.html: however, in the template app.js follows cordova.js unclear which is correct) -->
    <script src="cordova.js"></script>

  </head>

  <!-- use the ng-app tag to declare this as an app associated with the javascript for ionictodo, and associate the controller TodoCtrl with the html body element -->
  <body ng-app="ionictodo" ng-controller="TodoCtrl">
  <ion-side-menus>

  <!-- Center content -->
    <ion-side-menu-content>
      <ion-header-bar class="bar-dark">
        <!--add a button with the navicon icon to pull up the list of projects -->
        <button class="button button-icon" ng-click="toggleProjects()">
          <i class="icon ion-navicon"></i>
        <!--pull the header title from the active project -->
        <h1 class="title">{{activeProject.title}}</h1>
        <!-- add a button to call New Task on the header of the center content and put an ionic compose icon -->
        <button class="button button-icon" ng-click="newTask()">
          <i class="icon ion-compose"></i>
        </button>
      </ion-header-bar>
      <ion-content scroll="false">
      <!--- here lives the list and its items -->
        <ion-list>
          <ion-item ng-repeat="task in activeProject.tasks">
            {{task.title}}
          </ion-item>
        </ion-list>
      </ion-content>
    </ion-side-menu-content>


  <!-- Left menu -->
    <ion-side-menu side="left">
      <ion-header-bar class="bar-dark">
        <h1 class="title">Projects</h1>
        <button class="button button-icon ion-plus" ng-click="newProject()">
        </button>
      </ion-header-bar>

      <!-- create a non-scrollable list of each project in the projects collection.  on clicking a list item call select project. show the title attributes of each project. add the ng-class active to the current project.) -->
      <ion-content scroll="false">
        <ion-list>
          <ion-item ng-repeat="project in projects" ng-click="selectProject(project, $index)" ng-class="{active: activeProject == project}">
          {{project.title}}
          </ion-item>
        </ion-list>
      </ion-content>
    </ion-side-menu>

    <!-- add a modal for creation of a new task at /newtask.html using an angular template. 1) header the modal with "New Task and create a cancel action associated with closeNew Task". In the body of the modal add a form whose submission calls createTask, submitting the input text as the title attribute of the task. add a button whose clicking calls "submit, triggering the createTask() call from ng-submit" -->
    <script id="new-task.html" type="text/ng-template">
      <div class = "modal">

        <ion-header-bar class="bar-secondary">
          <h1 class="title">New Task</h1>
          <button class="button button-clear button-positive" ng-click="closeNewTask()">Cancel</button>
        </ion-header-bar>

        <ion-content>

          <form ng-submit="createTask(task)">
            <div class="list">
              <label class="item item-input">
                <input type="text" placeholder="What is your next task?" ng-model="task.title">
              </label>
            </div>
            <div class="padding">
              <button type="submit" class="button" button-block button-positive">Create Task</button>
            </div>
          </form>
        </ion-content>
      </div>
    </script>
  </ion-side-menus>
<!--     <ion-pane>
      <ion-header-bar class="bar-stable">
        <h1 class="title">Ionic Blank Starter</h1>
      </ion-header-bar>
      <ion-content>
      </ion-content>
    </ion-pane> -->
  </body>
</html>
